body {
    background-color: lightblue;
    color: #5D5D61;
}

#_postArea {
    background-color: #fffafa;
    border-radius: 5px;
    border: solid 1px #555;
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
    margin: 10px;
    padding: 10px;
}